<div style='text-align:center'>
  <span style='font-size:32px'>
    <strong>BAOFA (FUJIAN) SHOES</strong>
  </span>
</div>
<div style='text-align:center'>
  <span style='font-size:27px'>
    <strong>CONTAINER LOAD PLAN</strong>
  </span>
</div>
<div style='text-align:center'>
  <span style='font-size:20px'>
    ****************************************
  </span>
</div>
<table style='border-spacing:6px'>
  <tbody>
    <tr>
      <td><strong>INV# NO.:</strong></td>
      <td></td>
    </tr>
    <tr>
      <td><strong>VESSEL NAME:</strong></td>
      <td>MAERSK ENPING / 801N</td>
    </tr>
    <tr>
      <td><strong>ETD:</strong></td>
      <td>2018/01/15</td>
    </tr>
    <tr>
      <td><strong>ETA:</strong></td>
      <td>2018/02/09</td>
    </tr>
  </tbody>
</table>
<table class='repeatable' style='border-collapse:collapse;margin-top:12px;width:100%'>
  <thead style='border-bottom:2px solid'>
    <tr>
      <th>PO#</th>
      <th>S/N</th>
      <th>CLR</th>
      <th>PRS</th>
      <th>CTNS</th>
      <th>CONTAINERS</th>
      <th>SEAL NO.</th>
      <th>SIZE</th>
    </tr>
  </thead>
  <tbody>
    {{#purchaseOrders}}
      <tr>
        <td style='text-align:center'>0707DD0856</td>
        <td style='text-align:center'>S18</td>
        <td style='text-align:center'>040</td>
        <td style='text-align:center'>2382</td>
        <td style='text-align:center'>138</td>
        <td style='text-align:center'>MEDU9513985</td>
        <td style='text-align:center'>FJ02136533</td>
        <td style='text-align:center'>45'HC</td>
      </tr>
      <tr>
        <td colspan='8'>&nbsp;</td>
      </tr>
    {{/purchaseOrders}}
    <tr style='border-top:2px solid'>
      <td></td>
      <td></td>
      <td></td>
      <td style='border-bottom:2px solid;text-align:center'><strong>2,382</strong></td>
      <td style='border-bottom:2px solid;text-align:center'><strong>138</strong></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
