<style>
  .double-underline { border-bottom: 3px double; }
  .input { font-size: 13px; }
</style>
<div class='header'>
</div>
<div style='text-align:center'>
  <span style='font-size:26px'>
    <strong>{{bookingParties.Shipper.name}}</strong>
  </span>
</div>
<div style='text-align:center'>
  <span style='font-size:12px'>
    {{bookingParties.Shipper.address1}} {{bookingParties.Shipper.address2}} {{bookingParties.Shipper.address3}} {{bookingParties.Shipper.address4}}
  </span>
</div>
<p></p>
<div style='text-align:center'>
  <span style='font-size:22px'>
    <strong><span class='double-underline'>COMMERCIAL INVOICE</span></strong>
  </span>
</div>
<table style='border-bottom:1px solid;border-spacing:2px;font-size:15px;margin-bottom:2px;table-layout:fixed;width:100%'>
  <tbody>
    <tr>
      <td><strong>NO.</strong></td>
      <td colspan='3' style='border-bottom:1px solid'></td>
      <td style='text-align:right'><strong>Dated:</strong></td>
      <td style='border-bottom:1px solid;text-align:center'><span class='input'></span></td>
    </tr>
    <tr>
      <td><strong>INVOICE of</strong></td>
      <td colspan='5' style='border-bottom:1px solid'><span class='input'>TBD Consignment Info</span></td>
    </tr>
    <tr>
      <td colspan='2'><strong>For account and risk of Messrs.</strong></td>
      <td colspan='4' style='border-bottom:1px solid'><span class='input'>{{bookingParties.Consignee.name}}</span></td>
    </tr>
    <tr>
      <td colspan='6' style='border-bottom:1px solid'><span class='input'>{{bookingParties.Consignee.address1}} {{bookingParties.Consignee.address2}} {{bookingParties.Consignee.address3}} {{bookingParties.Consignee.address4}}</span></td>
    </tr>
    <tr>
      <td colspan='6' style='border-bottom:1px solid'>&nbsp;</td>
    </tr>
    <tr>
      <td><strong>Shipped by</strong></td>
      <td colspan='3' style='border-bottom:1px solid'>
        <div style='display:flex'>
          <span class='input' style='flex-grow:1;text-align:center'>{{bookingParties.Shipper.name}}</span>
          <span><strong>Per</strong></span>
        </div>
      </td>
      <td colspan='2' style='border-bottom:1px solid;text-align:center'><span class='input'>{{vesselName}}</span></td>
    </tr>
    <tr>
      <td><strong>Sailing on/about</strong></td>
      <td style='border-bottom:1px solid;text-align:center'><span class='input'>{{estimatedDepartureDate}}</span></td>
      <td style='text-align:right'><strong>From</strong></td>
      <td colspan='3' style='border-bottom:1px solid;text-align:center'><span class='input'>{{portOfLoading}} TO {{portOfDischarge}}</span></td>
    </tr>
    <tr>
      <td><strong>ETA:</strong></td>
      <td colspan='2' style='border-bottom:1px solid'><span class='input'>{{estimatedArrivalDate}}</span></td>
      <td colspan='3'></td>
    </tr>
    <tr>
      <td><strong>L/C No.</strong></td>
      <td colspan='2'></td>
      <td><strong>INCOTERM:</strong></td>
      <td colspan='2' style='text-align:center'><span class='input'>TBD</span></td>
    </tr>
  </tbody>
</table>
<table class='repeatable' style='border-collapse:collapse;width:100%'>
  <thead style='border-top:1px solid;border-bottom:1px solid'>
    <tr>
      <th style='border-right:1px solid;padding:4px'>Description of Goods</th>
      <th style='border-right:1px solid;padding:4px'>Quantity</th>
      <th style='border-right:1px solid;padding:4px'>Unit Price</th>
      <th style='padding:4px'>Amount</th>
    </tr>
  </thead>
  <tbody style='font-size:13px'>
      {% for item in purchaseOrders %}
      <tr><td colspan='4'>&nbsp;</td></tr>
      <tr>
        <td>P.O.No: 0707DD0856</td>
        <td style='text-align:right'>84 PRS</td>
        <td style='text-align:right'>USD 0.000</td>
        <td style='text-align:right'>USD 0.00</td>
      </tr>
      <tr>
        <td>STYLE NO: S18/040</td>
        <td colspan='3'></td>
      </tr>
      <tr>
        <td>COLOR: FLAT</td>
        <td colspan='3'></td>
      </tr>
      <tr>
        <td>HTS CODE: ()</td>
        <td colspan='3'></td>
      </tr>
      <tr>
        <td>SIZE: 6.0-10.0</td>
        <td colspan='3'></td>
      </tr>
      <tr>
        <td colspan='4'><span style='color:blue'>GENDER/SHOE TYPE: WOMEN/SANDAL</span></td>
      </tr>
    {% endfor %}
    <tr><td colspan='4'>&nbsp;</td></tr>
    <tr>
      <td colspan='4' style='border-bottom:1px solid'></td>
    </tr>
    <tr>
      <td></td>
      <td>
        <div style='text-align:right'>2382 PRS</div>
        <div style='text-align:right'>vvvv vvv</div>
      </td>
      <td></td>
      <td style='text-align:right;vertical-align:top'>USD 0.00</td>
    </tr>
    <tr><td colspan='4'>&nbsp;</td></tr>
    <tr>
      <td></td>
      <td colspan='3' style='border-bottom:1px solid'></td>
    </tr>
    <tr>
      <td colspan='3'></td>
      <td style='text-align:right'>
        <div>USD 0.00</div>
        <div>vvvvvvvv</div>
      </td>
    </tr>
    <tr><td colspan='4'>&nbsp;</td></tr>
    <tr><td colspan='4'>SAY TOTAL US DOLLARS ONLY</td></tr>
    <tr><td colspan='4'>&nbsp;</td></tr>
    <tr><td colspan='4'>FOOTWEAR MADE IN</td></tr>
  </tbody>
</table>
